body {
    margin: 0;
    background-color: #222;
    font-family: fantasy;
}
.navbar {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar h1 {
    margin: 0;
    color: #222;
    padding: 20px;
    font-size: 40px;
    font-weight: 400;
    animation-name: colors;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

.navbar h2 {
    margin-right: 20px;
    font-weight: 200;

    animation-name: colors;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

.cart {
    position: relative;
}

.navbar img {
    width: 30px;
    margin-right: 30px;
}

.navbar p {
    position: absolute;
    left: 30%;
    bottom: 10%;
    font-size: 15px;
    background-color: #555;
    color: white;
    padding: 5px;
    border-radius: 50px;
}

.links {
    margin: 0 30px;
    list-style: none;
}

.link {
    display: inline;
    margin: 0 10px;
    font-size: 20px;
    cursor: pointer;
}
.colors {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.colors button {
    padding: 50px;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 600;
}

/* Multi color Tab */
.multi-color {
    background-color: #fff;
    padding: 20px;
    height: 500px;
    margin: 30px;
    border-radius: 20px;
    box-shadow: 20px 5px 30px #000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow: auto;
}

.multi-color::-webkit-scrollbar{
    width: 10px;
}

.multi-color::-webkit-scrollbar-thumb{
    background-color: #555;
}

.multi-color .btn {
    padding: 30px;
    color: white;
    font-size: 30px;
    width: 100px;
    border-radius: 20px;
    margin: 5px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.multi-color .btn:hover::after {
    content: '+';
    background-color: tomato;
    width: 30px;
    text-align: center;
    border-radius: 10px;
    margin-bottom: -10px;
}

@keyframes colors {
    0% {
        color: #B72551;
    }

    20% {
        color: #D23BA1;
    }

    40% {
        color: #4D1AF8;
    }

    60% {
        color: #64C1D2;
    }

    80% {
        color: #214F75;
    }

    100% {
        color: #B72551;
    }
}